body
    box-sizing: border-box
    font-family: 'Rubik', sans-serif
    font-family: 'Noto Sans', sans-serif
.container
    max-width: 1200px
    margin: 0 auto
.link
    text-decoration: none
.btn
    background: #19BCE4
    color: #fff
    border: none
